.expenseListContainer {
  text-align: left;
  width: 100%;
}

.expenseListContainerHeading{
  border-bottom: 2px solid #dedede;
  margin-bottom: 1rem;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.expenseListContainer button {
  /* padding-bottom: 0.5rem; */
  height: 100%;
}

.expenseListContainer h3 {
  padding-bottom: 0.5rem;
}

.transactionList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.transactionList li {
  list-style: none;
}
